@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font families */
    --ff-primary: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
    --ff-display: "Jersey 10", cursive;
}

body {
    background-image: url('./assets/pixel-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-display);
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
}

h2, h3 {
    font-size: 40px;
    color: #efa702;
    text-shadow: 1px 1px 1px black;
}

p {
    font-family: var(--ff-primary);
    font-size: 30px;
    color: black;
    text-shadow: none;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
}

button {
    border: 3px solid black;
    background-color: #fddc12;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    text-transform: uppercase;
    padding: 6px 15px;
    font-family: var(--ff-display);
    letter-spacing: 1px;
}

button:hover {
    transform: scale(1.1);
    background-color: #efa702;
}

#gameCard {
    border-radius: 10px;
    border: 3px dashed black;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 1rem;
}

#gameCard > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #efa702;
    text-shadow: 1px 1px 1px black;
    height: fit-content;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

#formPart1 {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
    color: black;
    text-shadow: none;
    font-family: var(--ff-primary);
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 25px;
}

form label input{
    margin-left: 20px;
    margin-right: 5px;
}

/* #displayChoice {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    text-align: center;
} */

#displayScore, #displayChoice {
    display: flex;
    justify-content: space-evenly;
}

#playerScore, #compScore, #playerSelection, #compSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}