@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font families */
    --ff-primary: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
    --ff-display: "Jersey 10", cursive;
}

body {
    background-image: url('./assets/pixel-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-display);
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    font-size: 60px;
}

p {
    font-family: var(--ff-primary);
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 40%;
}

button {
    border: 3px solid black;
    background-color: #fddc12;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    text-transform: uppercase;
    padding: 6px 15px;
    font-family: var(--ff-display);
    letter-spacing: 1px;
}